{% extends "layout.html" %}

{% block title %}
    Add items
{% endblock %}

{% block main %}
    <form action="/add_items" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name of item" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="description" placeholder="Item description" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="price" placeholder="Item price" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add item</button>
    </form>
{% endblock %}