{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div><a href="/new_order">Create new order</a></div>
    <div><a href="/checkout">Go to checkout</a></div>
    <table class = "table table-striped table-bordered table-hover">
        <tr>
            <td>Item name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Order</td>
        </tr>
        {% for i in range(length) %}
            <tr>
                <form method="post" action="/add_item_to_order">
                <td>{{items[i]["item"]}}</td>
                <td>{{items[i]["description"]}}</td>
                <td>{{items[i]["price"]}}</td>
                <td><input value="{{items[i]['id']}}" type="hidden" name="id" /><button type="submit">Order</button></td>
                </form>
            </tr>
        {% endfor %}
    </table>
{% endblock %}